<section id="courses-view" class="mainbar" data-ng-controller="Courses as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <input class="input-md search-query"
                           data-ng-model="vm.courseSearch"
                           data-ng-keyup="vm.search($event)"
                           placeholder="Search...">
                </div>
                <div class="col-sm-8">
                    <div class="btn-group pull-right">
                        <a class="btn btn-info btn-form-md"
                           data-ng-click="vm.refresh()"><i class="fa fa-refresh"></i><span>Refresh</span></a>
                        <a class="btn btn-info btn-form-md"
                           href="#/course/new"><i class="fa fa-plus"></i><span>Add Course</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="widget wviolet col-sm-12">
                    <div class="widget-head">
                        {{vm.title}}
                        {{vm.filteredCourses.length}} / {{vm.courses.length}}
                    </div>
                    <div>
                        <table class="table tableSingle table-bordered">
                            <thead>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Description</td>
                                <td>Available</td>
                                <td>Tot. Subscriptions</td>
                                <td>Actions</td>
                            </thead>
                            <tr ng-repeat="s in vm.filteredCourses ">
                                <td title="'ID'" sortable="'id'">{{s.id}}</td>
                                <td title="'Name'" sortable="'name'">{{s.name}}</td>
                                <td title="'Description'" sortable="'desc'">{{s.desc}}</td>
                                <td title="'Available'">{{s.availableAttendance}}</td>
                                <td title="'Atteendes'">{{s.attendees}}</td>
                                <td title="" >
                                    <div class="outerDivCenterIcon">
                                        <a href="#/courses/new"> <i class="fa fa-pencil-square-o padd-right"></i></a>
                                        <a data-ng-click="vm.deleteCourse(s)"> <i class="fa fa-trash-o padd-left"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
