<section id="topics-view" class="mainbar"
         data-ng-controller="TopicsController as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <input class="input-xlarge search-query"
                           data-ng-model="vm.topicsSearch"
                           data-ng-keyup="vm.search($event)"
                           placeholder="Filter student, course">
                </div>
                <div class="col-sm-8">
                    <div class="btn-group pull-right">
                        <a class="btn btn-info btn-form-md"
                           data-ng-click="vm.refresh()"><i class="fa fa-refresh"></i><span>Refresh</span></a>
                        <a class="btn btn-info btn-form-md"
                           href="#/topic/new"><i class="fa fa-plus"></i><span>Add Topic</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="widget worange col-sm-12">
                <div class="widget-head">
                    {{vm.title}}
                    {{vm.filteredTopics.length}} / {{vm.topics.length}}
                </div>
                <div class="widget-content user">
                    <div class="padd" data-ng-repeat="s in vm.filteredTopics track by s.id"
                         data-ng-click="vm.gotoTopic(s)">
                        <div class="user" title="Go to topic details">
                            <div class="user-details">
                                <h3>{{s.name}}</h3>
                                <small class="text-subtle hidden-xs">{{s.desc}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
</section>
