<section id="students-view" class="mainbar" data-ng-controller="StudentsController as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <input class="input-medium search-query"
                           data-ng-model="vm.studentsSearch"
                           data-ng-keyup="vm.search($event)"
                           placeholder="Search...">
                </div>
                <div class="col-sm-8">
                    <div class="btn-group pull-right">
                        <a class="btn btn-info btn-form-md"
                           data-ng-click="vm.refresh()"><i class="fa fa-refresh"></i><span
                                class="text">Refresh</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="widget wgreen col-sm-12">
                    <div class="widget-head"
                         subtitle=""
                         right-text="">
                        <div class="left-title">{{vm.title}} {{vm.students.length}} / {{vm.studentsCount}}</div>
                        <div class="right-title">Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}</div>
                    </div>

                    <div class="widget-content user">
                        <div>
                            <pagination boundary-links="true"
                                        ng-change="vm.pageChanged()"
                                        total-items="vm.studentsCount"
                                        items-per-page="vm.paging.pageSize"
                                        ng-model="vm.paging.currentPage"
                                        max-size="vm.paging.maxPagesToShow"
                                        class="pagination-small"
                                        previous-text="Prev"
                                        next-text="Next"
                                        first-text="First"
                                        last-text="Last"></pagination>
                            <div class="clearfix"></div>
                        </div>

                        <div class="widget-content user">
                            <div class="padd" data-ng-repeat="s in vm.students track by s.id" data-ng-click="vm.gotoTopic(s)">
                                <img-person student="s"/>
                            </div>
                        </div>
                    </div>

                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
    </section>
</section>
